body{
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
   font-family: 'Public Sans', sans-serif;
   font-size: 10px;

}
form{
   min-width: 700px;
   max-width: 1000px;
   background-color: #F9F9F9;
   margin: auto;

}

div.header{
    font-size: 24px;
    font-family: 'Public Sans';
    line-height: 28px;
    text-align: left;

}
.header{
    width: 194px;
    margin-top: 64px;
    margin-left: 35px;
    height: 28px;
    font-weight: 700;
    font-family: 'Public Sans';
}

p{
    margin-top: 79px;
    margin-left: 35px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Public Sans';
}

.info{
    margin-top: 24px;
    margin-left: 35px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Public Sans';
}

label {
    font-size: 1rem;
    display: block;
    padding-bottom: 5px;
 }
 select {
    width: 102%;
    padding: 6px 3px;
    font-size: 1.1rem;
    border-radius: 4px;
 }
 input {
    width: 100%;
    padding: 6px 3px;
    font-size: 1.1rem;
    border-radius: 4px;
    
 }
 .block {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
 }
 /* Левая строка */
 .left_column {
    width: 45%;
 }
 /* Правая строка */
 .right_column {
    width: 45%;
 }
 /* Input только с просмотром календарь */
 .init_date {
    background-color: #EFEFEF;
    background-image: url(./img/date.svg);
    background-repeat: no-repeat;
    background-position: right;
 
 }
 .red_color {
    color: red;
 } 
/* Input спрятан */
.none_display {
   visibility: hidden;
}

.non_img {
   background-color: white;
   background-image: none;
}
.checkbox {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: flex-end;
   margin-top: 22px;
   font-family: 'Public Sans';


}
.checkbox input {
   width: 24px;
   cursor: pointer;
   transform: scale(2);
   line-height: 24px;
}
#chek_eight{
   margin-left: 35px;
}
hr {
   width: 93%;
   margin: 2% auto;
   border: 1px solid #D1D1D1;
}

h1 {
   padding-top: 7%;
   padding-left: 3.5%;
}
.hint {
   margin-top: 8%;
   padding-left: 3.5%;
}
h2 {
   margin-top: 3%;
   padding-left: 3.5%;
}
.row {
   background-image: url(./img/row.svg);
   background-repeat: no-repeat;
   background-position: right;
}
/* Input только просмотр лупа */
.loop {
   background-image: url(./img/loop.svg);
   background-repeat: no-repeat;
   background-position: right;
}

/* кнопка */
.button_box {
   margin-left: 90%;
   margin-top: 3%;
   padding-bottom: 6%;
}
.button {
   width: 67%;
   cursor: pointer;
   background-color: #0050D8;
   color: white;
   border: none;
   border-radius: 4px;
}

